/**********************
 *CSS Animations by:
 *http://codepen.io/vivinantony
***********************/
@import url("http://fonts.googleapis.com/css?family=Playfair+Display:400,700italic");
@import url("http://fonts.googleapis.com/css?family=Raleway:300,100");
@import url("http://fonts.googleapis.com/css?family=Abel");
@import url("http://fonts.googleapis.com/css?family=Source+Sans+Pro:700");
.fakeloader .spinner1 {
  width: 40px;
  height: 40px;
  position: relative; }
.fakeloader .double-bounce1, .fakeloader .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: bounce 2.0s infinite ease-in-out;
  animation: bounce 2.0s infinite ease-in-out; }
.fakeloader .double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s; }
@-webkit-keyframes bounce {
  0%, 100% {
    -webkit-transform: scale(0); }
  50% {
    -webkit-transform: scale(1); } }
@keyframes bounce {
  0%, 100% {
    transform: scale(0);
    -webkit-transform: scale(0); }
  50% {
    transform: scale(1);
    -webkit-transform: scale(1); } }
.fakeloader .spinner2 {
  width: 40px;
  height: 40px;
  position: relative; }
.fakeloader .container1 > div, .fakeloader .container2 > div, .fakeloader .container3 > div {
  width: 6px;
  height: 6px;
  background-color: #fff;
  border-radius: 100%;
  position: absolute;
  -webkit-animation: bouncedelay 1.2s infinite ease-in-out;
  animation: bouncedelay 1.2s infinite ease-in-out;
  /* Prevent first frame from flickering when animation starts */
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }
.fakeloader .spinner2 .spinner-container {
  position: absolute;
  width: 100%;
  height: 100%; }
.fakeloader .container2 {
  -webkit-transform: rotateZ(45deg);
  transform: rotateZ(45deg); }
.fakeloader .container3 {
  -webkit-transform: rotateZ(90deg);
  transform: rotateZ(90deg); }
.fakeloader .circle1 {
  top: 0;
  left: 0; }
.fakeloader .circle2 {
  top: 0;
  right: 0; }
.fakeloader .circle3 {
  right: 0;
  bottom: 0; }
.fakeloader .circle4 {
  left: 0;
  bottom: 0; }
.fakeloader .container2 .circle1 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s; }
.fakeloader .container3 .circle1 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s; }
.fakeloader .container1 .circle2 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s; }
.fakeloader .container2 .circle2 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s; }
.fakeloader .container3 .circle2 {
  -webkit-animation-delay: -0.7s;
  animation-delay: -0.7s; }
.fakeloader .container1 .circle3 {
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s; }
.fakeloader .container2 .circle3 {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s; }
.fakeloader .container3 .circle3 {
  -webkit-animation-delay: -0.4s;
  animation-delay: -0.4s; }
.fakeloader .container1 .circle4 {
  -webkit-animation-delay: -0.3s;
  animation-delay: -0.3s; }
.fakeloader .container2 .circle4 {
  -webkit-animation-delay: -0.2s;
  animation-delay: -0.2s; }
.fakeloader .container3 .circle4 {
  -webkit-animation-delay: -0.1s;
  animation-delay: -0.1s; }
@-webkit-keyframes bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0); }
  40% {
    -webkit-transform: scale(1); } }
@keyframes bouncedelay {
  0%, 80%, 100% {
    transform: scale(0);
    -webkit-transform: scale(0); }
  40% {
    transform: scale(1);
    -webkit-transform: scale(1); } }
.fakeloader .spinner3 {
  width: 40px;
  height: 40px;
  position: relative;
  -webkit-animation: rotate 2.0s infinite linear;
  animation: rotate 2.0s infinite linear; }
.fakeloader .dot1, .fakeloader .dot2 {
  width: 60%;
  height: 60%;
  display: inline-block;
  position: absolute;
  top: 0;
  background-color: #fff;
  border-radius: 100%;
  -webkit-animation: bounce 2.0s infinite ease-in-out;
  animation: bounce 2.0s infinite ease-in-out; }
.fakeloader .dot2 {
  top: auto;
  bottom: 0px;
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s; }
@-webkit-keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg); } }
@keyframes rotate {
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg); } }
@-webkit-keyframes bounce {
  0%, 100% {
    -webkit-transform: scale(0); }
  50% {
    -webkit-transform: scale(1); } }
@keyframes bounce {
  0%, 100% {
    transform: scale(0);
    -webkit-transform: scale(0); }
  50% {
    transform: scale(1);
    -webkit-transform: scale(1); } }
.fakeloader .spinner4 {
  width: 30px;
  height: 30px;
  background-color: #fff;
  -webkit-animation: rotateplane 1.2s infinite ease-in-out;
  animation: rotateplane 1.2s infinite ease-in-out; }
@-webkit-keyframes rotateplane {
  0% {
    -webkit-transform: perspective(120px); }
  50% {
    -webkit-transform: perspective(120px) rotateY(180deg); }
  100% {
    -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg); } }
@keyframes rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg); }
  50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg); }
  100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg); } }
.fakeloader .spinner5 {
  width: 32px;
  height: 32px;
  position: relative; }
.fakeloader .cube1, .fakeloader .cube2 {
  background-color: #fff;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: cubemove 1.8s infinite ease-in-out;
  animation: cubemove 1.8s infinite ease-in-out; }
.fakeloader .cube2 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s; }
@-webkit-keyframes cubemove {
  25% {
    -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5); }
  50% {
    -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg); }
  75% {
    -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5); }
  100% {
    -webkit-transform: rotate(-360deg); } }
@keyframes cubemove {
  25% {
    transform: translateX(42px) rotate(-90deg) scale(0.5);
    -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5); }
  50% {
    transform: translateX(42px) translateY(42px) rotate(-179deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-179deg); }
  50.1% {
    transform: translateX(42px) translateY(42px) rotate(-180deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg); }
  75% {
    transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
    -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5); }
  100% {
    transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg); } }
.fakeloader .spinner6 {
  width: 50px;
  height: 30px;
  text-align: center; }
.fakeloader .spinner6 > div {
  background-color: #fff;
  height: 100%;
  width: 6px;
  margin-left: 2px;
  display: inline-block;
  -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
  animation: stretchdelay 1.2s infinite ease-in-out; }
.fakeloader .spinner6 .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s; }
.fakeloader .spinner6 .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s; }
.fakeloader .spinner6 .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s; }
.fakeloader .spinner6 .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s; }
@-webkit-keyframes stretchdelay {
  0%, 40%, 100% {
    -webkit-transform: scaleY(0.4); }
  20% {
    -webkit-transform: scaleY(1); } }
@keyframes stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4); }
  20% {
    transform: scaleY(1);
    -webkit-transform: scaleY(1); } }
.fakeloader .spinner7 {
  width: 90px;
  height: 30px;
  text-align: center; }
.fakeloader .spinner7 > div {
  background-color: #fff;
  height: 15px;
  width: 15px;
  margin-left: 3px;
  border-radius: 50%;
  display: inline-block;
  -webkit-animation: stretchdelay 0.7s infinite ease-in-out;
  animation: stretchdelay 0.7s infinite ease-in-out; }
.fakeloader .spinner7 .circ2 {
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s; }
.fakeloader .spinner7 .circ3 {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s; }
.fakeloader .spinner7 .circ4 {
  -webkit-animation-delay: -0.4s;
  animation-delay: -0.4s; }
.fakeloader .spinner7 .circ5 {
  -webkit-animation-delay: -0.3s;
  animation-delay: -0.3s; }
@-webkit-keyframes stretchdelay {
  0%, 40%, 100% {
    -webkit-transform: translateY(-10px); }
  20% {
    -webkit-transform: translateY(-20px); } }
@keyframes stretchdelay {
  0%, 40%, 100% {
    transform: translateY(-10px);
    -webkit-transform: translateY(-10px); }
  20% {
    transform: translateY(-20px);
    -webkit-transform: translateY(-20px); } }
* {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

header, nav, section, article, aside, footer {
  display: block; }

.wrapper {
  width: 70%;
  max-width: 960px;
  margin: 7.5% auto;
  overflow: auto; }

.left, .right {
  width: 40%; }

.left {
  float: left;
  padding-left: 30px; }

.right {
  float: right;
  padding-right: 30px; }

form {
  width: 100%;
  overflow: hidden; }

section {
  width: 100%;
  overflow: hidden;
  clear: both; }

.hide {
  display: none; }

.show {
  display: block; }

input, textarea {
  width: 100%;
  font-size: 13px;
  padding: 8px;
  margin-bottom: 15px; }

input[type=submit] {
  webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  -ms-transition: all 0.6s ease;
  transition: all 0.6s ease;
  font-family: Playfair Display;
  font-weight: 700;
  font-style: italic;
  background: none;
  font-size: 18px;
  line-height: 18px;
  color: #fff;
  padding: 2.5% 4%;
  border: solid white 1px; }
  input[type=submit]:hover {
    cursor: pointer;
    background: white;
    color: black; }

/* INCLUDE FONTS */
/* END INCLUDE FONTS */
* {
  font-family: 'Raleway', helvetica, sans-serif; }

p, li, a, span {
  font-size: 16px; }

h1 {
  color: #1e2553;
  font-family: Playfair Display;
  font-size: 50px;
  font-style: italic;
  padding: 30px 0; }

h2 {
  color: white;
  letter-spacing: 1.5px;
  font-weight: 300;
  font-size: 18px; }

h3 {
  color: white;
  font-size: 30px;
  font-family: Source Sans Pro; }

h4 {
  color: #474B4C;
  font-weight: 400;
  font-size: 22px;
  font-family: Abel; }

h5 {
  font-family: Playfair Display;
  font-size: 30px;
  font-weight: 400; }

p {
  line-height: 160%;
  font-weight: 300; }

a {
  text-decoration: none;
  color: black; }

span {
  font-size: 15px; }

.home .welcome {
  position: relative;
  background-color: #1f1f1f;
  text-align: center;
  height: 630px;
  z-index: 1; }
  .home .welcome .logo, .home .welcome .bottom {
    position: fixed;
    left: 50%;
    transform: translate(-50%, -50%); }
  .home .welcome .logo {
    top: 30%; }
    .home .welcome .logo img {
      height: 160px;
      width: 160px;
      margin: 18px; }
  .home .welcome .bottom {
    top: 60%; }
    .home .welcome .bottom h2 {
      font-style: italic; }
    .home .welcome .bottom h4 {
      margin-top: 10px; }
    .home .welcome .bottom input {
      width: 70%;
      margin: 30px; }
.home .down {
  position: relative;
  text-align: center;
  line-height: 80px;
  z-index: 888; }
  .home .down #arrow-down {
    font-weight: bold;
    font-size: 20px; }
.home .details {
  position: relative;
  text-align: center;
  z-index: 999; }
.home .introduction {
  position: relative;
  z-index: 777;
  background-color: #474B4C;
  height: 480px;
  color: white; }
  .home .introduction .left p {
    margin-top: 30px;
    font-style: italic; }
  .home .introduction .right p {
    font-weight: 100; }
.home .guests {
  text-align: center; }
  .home .guests .row {
    display: block;
    overflow: auto;
    box-sizing: border-box;
    padding: 0 7%;
    height: 380px;
    overflow: hidden; }
    .home .guests .row:nth-child(odd) img {
      float: right; }
    .home .guests .row:nth-child(odd) h5 {
      float: left; }
    .home .guests .row:nth-child(even) img {
      float: left; }
    .home .guests .row:nth-child(even) h5 {
      float: right; }
    .home .guests .row img {
      webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
      transition: all 0.3s ease;
      display: inline-block;
      width: auto;
      max-width: 470px;
      margin: 50px 0; }
      .home .guests .row img:hover {
        cursor: pointer;
        -webkit-transform: scale(0.96, 0.96);
        -moz-transform: scale(0.96, 0.96); }
    .home .guests .row h5 {
      display: inline-block;
      padding: 10px 0;
      border-bottom: rgba(30, 37, 83, 0.5) solid 1px;
      margin: 155px 0;
      color: #1e2553;
      line-height: 30px;
      text-align: center; }
      .home .guests .row h5 span {
        color: rgba(30, 37, 83, 0.5);
        display: none;
        margin-top: -5px; }
.home .footer {
  background-color: #1f1f1f; }
  .home .footer h3 {
    display: inline-block;
    line-height: 100px; }
  .home .footer .right {
    text-align: right; }
    .home .footer .right a {
      webkit-transition: all 0.6s ease;
      -moz-transition: all 0.6s ease;
      -o-transition: all 0.6s ease;
      -ms-transition: all 0.6s ease;
      transition: all 0.6s ease;
      padding: 5px;
      color: white;
      line-height: 100px;
      font-size: 12px;
      text-transform: uppercase; }
      .home .footer .right a:hover {
        background-color: white;
        border-radius: 2px;
        color: black; }
    .home .footer .right img {
      vertical-align: middle;
      margin-right: 10px; }

.blockUI {
  padding: 3%;
  width: 30%;
  top: 20%;
  left: 35%;
  text-align: center;
  color: #000;
  background-color: #fff; }
  .blockUI #closing-cross {
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer; }
  .blockUI input {
    border: 1px rgba(30, 37, 83, 0.5) solid; }
  .blockUI input[type=submit] {
    width: 60%;
    border: 1px #1e2553 solid;
    margin-top: 20px;
    color: #1e2553;
    border: 2px #1e2553 solid; }
    .blockUI input[type=submit]:hover {
      background-color: #1e2553;
      color: white; }

@media (max-width: 1165px) {
  .home .guests .row {
    padding: 0; }
    .home .guests .row h5 {
      font-size: 28px; } }
@media (max-width: 1024px) {
  .blockUI {
    padding: 7%;
    width: 50%;
    left: 25%; }

  .wrapper {
    width: 80%; }

  .guests img {
    height: 250px; }
  .guests h5 {
    margin: 130px 0 !important;
    border-bottom: 0px !important; }
  .guests span {
    display: inline-block !important; } }
@media (max-width: 786px) and (max-width: 758px) {
  .introduction .left, .introduction .right {
    float: none;
    width: auto;
    padding: 30px 0; }

  .guests .row {
    height: 450px !important;
    margin-bottom: 30px !important; }
    .guests .row h5, .guests .row img {
      float: none !important; }
    .guests .row h5 {
      margin: 0 !important;
      font-size: 35px !important; }
    .guests .row img {
      margin: 30px 0 !important;
      height: 270px !important; }

  .footer .left, .footer .right {
    width: auto; } }
@media (max-width: 568px) {
  .blockUI {
    padding: 7%;
    width: 70%;
    left: 15%; }

  .home .details .wrapper {
    margin-bottom: 80px; }
  .home .guests h5 {
    font-size: 30px !important;
    height: 250px !important; } }

/*# sourceMappingURL=main.css.map */
