.blockUI{
	padding:7%;
	width: 50%;
	left: 25%;
}

.wrapper{
	width: 80%;
}
.guests{
	img{
		height: 250px;
	}
	h5{
		margin: 130px 0 !important;
		border-bottom: 0px !important;
	}
	span{
			display: inline-block !important;
	}
}