@media (max-width: 758px) {
	.introduction{
		.left, .right{
			float:none;
			width: auto;
			padding: 30px 0;
		}
	}
	.guests{
		.row{
			height: 450px !important;
			margin-bottom: 30px !important;
			h5, img{
				float: none !important;
			}
			h5{
				margin: 0 !important;
				font-size: 35px !important;
			}
			img{
				margin: 30px 0 !important;
				height: 270px !important;
			}
		}		
	}
	.footer{
		.left, .right{
			width: auto;
		}
	}
}	