@media (max-width: 758px) {
	.left, .right{
		width: auto;
	}
	.guests{
		.row{
			height: 450px !important;
			h5, img{
				float: none !important;
			}
			h5{
				margin: 0 !important;
				font-size: 35px !important;
			}
			img{
				margin: 30px 0 !important;
				height: 270px !important;
			}
		}		
	}

	.footer{
		
	}
}	