body {
	
}
* {
	margin:0;
	padding:0;
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box;
}
header, nav, section, article, aside, footer {
   display:block;
}
.wrapper {
	width: 70%;
	max-width: 960px;
	margin: 7.5% auto;
	overflow:auto;
}
.left, .right{
	width: 40%;
}
.left{
	float:left;
	padding-left:30px;
}
.right{
	float:right;
	padding-right: 30px;
}
form {
	width:100%;
	overflow:hidden;
}
section {
	width: 100%;
	overflow: hidden;
	clear: both;
}
.hide {
	display: none;
}
.show {
	display:block;
}