input, textarea {
	width:100%;
	font-size: 13px;
	padding: 8px;
	margin-bottom: 15px;
}
input[type=submit]{
	webkit-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
    -ms-transition: all 0.6s ease;
    transition: all 0.6s ease;
	font-family: Playfair Display;
	font-weight: 700;
	font-style: italic;
	background: none;
	font-size: 18px;
	line-height: 18px;
	color:#fff;
	padding: 2.5% 4%;
	border: solid white 1px;
	&:hover{
		cursor: pointer;
		background: white;
		color: black;
	}
}
