.home{
	.welcome{
		position: relative;
		background-color: $black;
		text-align: center;
		height: 630px;
		z-index: 1;
		.logo, .bottom{
			position: fixed;
			left: 50%;
			transform: translate(-50%, -50%);
		}
		.logo{
			top: 30%;
			img{
				height: 160px;
				width: 160px;
				margin: 18px;
			}
		}
		.bottom{
			top: 60%;
			h2{
				font-style: italic;
			}
			h4{
				margin-top: 10px;
			}
			input{
				width: 70%;
				margin: 30px;
			}
		}
	}
	.down{
		position: relative;
		text-align: center;
		line-height: 80px;
		z-index: 888;
		#arrow-down{
			font-weight:bold;
			font-size: 20px;
		}
	}
	.details{
		position: relative;
		text-align: center;
		z-index: 999;
	}
	.introduction{
		position: relative;
		z-index: 777;
		background-color: $dark;
		height: 480px;
		color: white;
		.left{
			p{
				margin-top: 30px;
				font-style: italic;
			}
		}
		.right{
			p{
				font-weight: 100;
			}
		}
	}
	.guests{
		text-align: center;
		.row{
			display: block;
			overflow:auto;
			box-sizing: border-box;
			padding: 0 7%;
			height: 380px;
			overflow:hidden;
			&:nth-child(odd){
				img{
					float:right;
				}
				h5{
					float:left;
				}
			}
			&:nth-child(even){
				img{
					float:left;
				}
				h5{
					float:right;
				}
			}	
			img{
				webkit-transition: all 0.3s ease;
			    -moz-transition: all 0.3s ease;
			    -o-transition: all 0.3s ease;
			    -ms-transition: all 0.3s ease;
			    transition: all 0.3s ease;
				display: inline-block;
				width: auto;
				max-width: 470px;
				margin: 50px 0;
				
				&:hover{
					cursor:pointer;
					-webkit-transform: scale(0.96,0.96);
    				-moz-transform:scale(0.96,0.96);
				}			
			}
			h5{
				display: inline-block;
				padding: 10px 0;
				border-bottom: $light-blue solid 1px;
				margin: 155px 0 ;
				color: $blue;
				line-height: 30px;
				text-align: center;
				span{
					color: $light-blue;
					display:none;
					margin-top: -5px;
				}
			}		
		}		
	}
	.footer{
		background-color: $black;
		h3{
			display: inline-block;
			line-height: 100px;
		}
		.right{
			text-align: right;
			a{
				webkit-transition: all 0.6s ease;
			    -moz-transition: all 0.6s ease;
			    -o-transition: all 0.6s ease;
			    -ms-transition: all 0.6s ease;
			    transition: all 0.6s ease;
				padding: 5px;
				color: white;
				line-height: 100px;
				font-size: 12px;
				text-transform: uppercase;
				&:hover{
					background-color:white;
					border-radius: 2px;
					color: black;
				}
			}
			img{
				vertical-align: middle;
				margin-right: 10px;
			}
		}
	}
}
//css for rsvp modal
.blockUI {
	padding:3%;
	width: 30%;
	top: 20%;
	left: 35%;
	text-align:center;
	color: #000;
	background-color: #fff;
	#closing-cross{
		position: absolute;
		top: 10px;
		right: 20px;
		cursor: pointer;
	}
	input{
		border: 1px $light-blue solid;
	}
	input[type=submit]{
		width: 60%;
		border: 1px $blue solid;
		margin-top: 20px;
		color: $blue;
		border: 2px $blue solid;
		&:hover{
			background-color: $blue;
			color: white;
		}
	}
}
